<?xml version = '1.0' encoding = 'UTF-8'?>
<ANALYSIS_SET>
   <ANALYSIS alias="Kk_KK831" center_name="EBI" accession="ERZ015439">
      <IDENTIFIERS>
         <PRIMARY_ID>ERZ015439</PRIMARY_ID>
         <SUBMITTER_ID namespace="EBI">Kk_KK831</SUBMITTER_ID>
      </IDENTIFIERS>
      <TITLE>KK83 sequence version 1</TITLE>
      <DESCRIPTION>Sequence come from SOLiD data. Arthritis strain. Reference genome: Kingella kingae 11220434. Tool: CLC Genomics</DESCRIPTION>
      <STUDY_REF refname="ena-STUDY-EBI-10-01-2014-12:30:27:104-31" refcenter="EBI" accession="ERP003827">
         <IDENTIFIERS>
            <PRIMARY_ID>ERP003827</PRIMARY_ID>
            <SECONDARY_ID>PRJEB4521</SECONDARY_ID>
            <SUBMITTER_ID namespace="EBI">ena-STUDY-EBI-10-01-2014-12:30:27:104-31</SUBMITTER_ID>
         </IDENTIFIERS>
      </STUDY_REF>
      <SAMPLE_REF refname="Kk_KK831" refcenter="EBI" accession="ERS336239">
         <IDENTIFIERS>
            <PRIMARY_ID>ERS336239</PRIMARY_ID>
            <SUBMITTER_ID namespace="EBI">Kk_KK831</SUBMITTER_ID>
         </IDENTIFIERS>
      </SAMPLE_REF>
      <ANALYSIS_TYPE>
         <SEQUENCE_ASSEMBLY>
            <NAME>Kk_KK83</NAME>
            <PARTIAL>false</PARTIAL>
            <COVERAGE>34.52</COVERAGE>
            <PROGRAM>CLC Genomics</PROGRAM>
            <PLATFORM>SOLiD</PLATFORM>
         </SEQUENCE_ASSEMBLY>
      </ANALYSIS_TYPE>
      <FILES>
         <FILE filename="89126_PRJEB1616_era-drop-260.fasta.gz" filetype="contig_fasta" checksum_method="MD5" checksum="b2453392abff4558ae6c0357c1f0c287"/>
         <FILE filename="89126_PRJEB1616_era-drop-260.agp.gz" filetype="scaffold_agp" checksum_method="MD5" checksum="26d277c84f987323344a97f0ec1d4cf1"/>

         <!-- filetype scaffold_agp -->
      </FILES>
   </ANALYSIS>
</ANALYSIS_SET>

