<html>
<head>
  <title>Metadata for the [% study.alias %] study</title>
  <style>
  
  table, td, th {
    border:1px solid black;
    border-collapse:collapse;
    padding:5px;
  }
  td {
    white-space: nowrap;
    text-align:left;
  }
  td.ena_assigend_value {
    color: 008800;
  }
  td.ena_assigend_value a {
    color: 008800;
  }
  td.abstract {
    white-space: normal;
  }
  th {
    white-space: nowrap;
    text-align:left;
  }
  </style>

</head>
<body>

[% content %]

</body>
</html>

