  <h2>Metadata for the study</h2>

  <table>
  <tr>
    <td>Alias</td>
    <td><a name="[% study.alias.link_friendly_chars %]">[% study.alias %]</a></td>
  </tr>
  <tr>
    <td>ENA accession</td>
    <td class="ena_assigend_value"><a name="[% study.alias.link_friendly_chars %]">ENA_accession_for_[% study.alias %]_study_goes_here</a></td>
  </tr>
  <tr>
    <td>Center name</td>
    <td>[% study.center_name %]</td>
  </tr>
  <tr>
    <td>Title</td>
    <td>[% study.title %]</td>
  </tr>
  <tr>
    <td>Abstract</td>
    <td class="abstract">[% study.abstract %]</td>
  </tr>
  </table>

  [% IF study.attributes.keys.length %]

  <h2>Study attributes</h2>

  <table>

  [% FOREACH current_attribute = study.attributes.keys %]
  <tr>
    <td>[% current_attribute %]</td>
    <td>[% study.attributes.${current_attribute} %]</td>
  </tr>
  [% END %]


  </table>
  [% END %]
